.img-div {
  margin-bottom: 50px;
}

.crusel{
  margin-top: 50px;
}

.book-store-img {
  height: 400px;
}
.grid-row-main {
  row-gap: 20px;
}

h2 {
  font-size: 15px;
}

/* text animate start */

.heading-row {
  margin-top: 50px;
  position: absolute;
  top: 50%;
  left: 20%;
  color: transparent;
  z-index: 11111;
}

.sub-heading {
  color: #fff !important;
  font-size: 14px;
  position: absolute;
  top: 80%;
  text-align: center;
  z-index: 11111;
}

/* .img-row {
  background-image: url("https://images.unsplash.com/photo-1589998059171-988d887df646?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8OXx8fGVufDB8fHx8fA%3D%3D");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 600px;
  margin-top: -50px;

} */

.animate-row{
  background-color: red;
  z-index: 11111;
 
}

h3 {
  position: absolute;
  top: 30%;
  left: 20%;
  color: transparent;
  z-index: 11111;
  font-size: 5vw;
  -webkit-text-stroke: 0.3vw #383d52;
  /* background-color: #252839; */
  text-transform: uppercase;
}

h3::before {
  content: attr(data-text);
  position: absolute;
  left: 12px;
  width: 0;
  color: #ee6142;
  -webkit-text-stroke: 0vw #383d52;
  border-right: 2px solid #ee6142;
  overflow: hidden;
  animation: animate 6s linear infinite;
}

@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  100% {
    width: 21%;
  }
}

/* text animate end */

.card {
  border: 1px solid #fff;
}

.box {
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px hsl(229, 6%, 66%);
  padding: 20px;
}
.cyan {
  border-top: 3px solid hsl(13, 84%, 34%);
}

::ng-deep .owl-carousel .owl-item img {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 400px;
}

::ng-deep .owl-prev,
::ng-deep .owl-next {
  position: absolute !important;
  top: 184px !important;
  color: #fff;
  font-size: 25px !important;
  margin-right: 5px;
  width: 50px;
  height: 50px;
  padding: 10px;
  border: none;
  border-radius: 50% !important;
  background-color: transparent !important;
}

::ng-deep .owl-prev:hover {
  color: #fff !important;
}

::ng-deep .owl-next {
  /* background-color: #5a1011 !important; */
  right: 0;
}

::ng-deep .owl-prev {
  left: 0;
}

::ng-deep .owl-nav {
  display: block !important;
}

header {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
}
.band {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;

  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;

  @media (min-width: 30em) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 60em) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  background: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;

  /* // sets up hover state */
  position: relative;
  top: 0;
  transition: all 0.1s ease-in;

  &:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  }

  article {
    padding: 20px;
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  h1 {
    font-size: 15px !important;
    margin: 0;
    color: #333;
    align-items: flex-end;
  }

  p {
    flex: 1;
    line-height: 1.4;
  }

  span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 2em 0 0 0;
  }

  .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
  }
}

.item-1 {
  @media (min-width: 60em) {
    grid-column: 1 / span 2;

    h1 {
      font-size: 24px;
    }
  }
}
