<!-- <input id="scene-1" type="radio" name="scene" value="1" checked />
<input id="scene-2" type="radio" name="scene" value="2" />
<input id="scene-3" type="radio" name="scene" value="3" />
<input id="scene-4" type="radio" name="scene" value="4" />

<main class="site">
	<div class="landscape">
		<div class="landscape-text">
			DREAM
		</div>
	</div>
	<div class="left-side">
		<div class="page-numbers" data-total='04'>
			<div class="page-number page-number--tens">0</div>
			<div class="page-number page-number--ones">
				<div>1</div>
				<div>2</div>
				<div>3</div>
				<div>4</div>
			</div>
		</div>
	</div>
	<div class="hero">
		<div class="layer" data-scene="1">
			<h1 class="heading">
				Introduction
			</h1>
		</div>
		<div class="layer" data-scene="2">
			<h1 class="heading">
				Navigation
			</h1>
		</div>
		<div class="layer" data-scene="3">
			<h1 class="heading">
				Masked Text
			</h1>
		</div>
		<div class="layer" data-scene="4">
			<h1 class="heading">
				Modern CSS Techniques
			</h1>
		</div>
		<nav class="slide-nav">
			<div class="button-container">
				<button class="nav-button">< Previous</button>
				<button class="nav-button">Next ></button>
			</div>
			<div class="nav-button-container">
				<label class="nav-button" for="scene-1" data-scene="1">1</label>
				<label class="nav-button" for="scene-2" data-scene="2">2</label>
				<label class="nav-button" for="scene-3" data-scene="3">3</label>
				<label class="nav-button" for="scene-4" data-scene="4">4</label>
			</div>
		</nav>
	</div>
	<div class="right-content">
		<div class="layer" data-scene="1">
			<h2 class="heading">A digest of the tutorial</h2>
			<p class="paragraph">
				This is my take on <a href="https://www.youtube.com/watch?v=kd_zuEYCDck"> Ocean Overlays</a> codepen exercise. It uses CSS only to acheive masked text, navigation, and animation. It also uses CSS variables in a neat way to acheive some cool effects. Click next to get a summary of how to replicate these techniques.
			</p>
		</div>
		<div class="layer" data-scene="2">
			<h2 class="heading">Hidden radio buttons</h2>
			<p class="paragraph">
				There are 4 hidden radio inputs on this page that keep track of the current "scene". The radios inputs are associated with labels that are also hidden. These labels overlay the "next" and "previous" buttons and are toggled based on the CSS selectors.
			</p>
		</div>
		<div class="layer" data-scene="3">
			<h2 class="heading">background-clip,<br />background-position, and transform</h2>
			<p class="paragraph">
				The masked text can be acheived by setting a background image to the tag containing the text, then by setting background-clip: text. This attribute requires -webkit- prefixing, so don't forget to add that attribute. We use transform to move the text across the page, and background-position to slightly shift the background against the transform direction to get a parallax effect.
			</p>
		</div>
		<div class="layer" data-scene="4">
			<h2 class="heading">CSS Grid and CSS Variables</h2>
			<p class="paragraph">
				The primary layout technique used here is CSS grid. The parent defines grid-template-* and the children uses grid-row and grid-column to determine where the element will span on the grid.
			</p>
			<p class="paragraph">
				The other neat technique used here is CSS variables, which helps to store the current scene value within the CSS stylesheet. Based on the CSS selectors, the --scene variable will be set and used to calculate the percent offset used in the animation. 
			</p>
		</div>
	</div>
</main>
 -->



 <div class="main">

	<div class="container">
		<div id="slide">
			<div class="item" style="background-image: url('../../assets/images/nature1.jpg');">
			
				<div class="content">
					<div class="name">lorem</div>
					<div class="des">Lorem ipsum dolor sit amet consectetur adipisicing elit. In ab molestias quae natus impedit autem?</div>
			   <button>See More</button>
				</div>
			</div>
			 <!-- item2 -->
			 <div class="item" style="background-image: url('../../assets/images/nature2.webp');">
			
				<div class="content">
					<div class="name">lorem</div>
					<div class="des">Lorem ipsum dolor sit amet consectetur adipisicing elit. In ab molestias quae natus impedit autem?</div>
			   <button>See More</button>
				</div>
			</div>
			<!-- items 3 -->
			<div class="item" style="background-image: url('../../assets/images/nature3.jpg');">
			
				<div class="content">
					<div class="name">lorem</div>
					<div class="des">Lorem ipsum dolor sit amet consectetur adipisicing elit. In ab molestias quae natus impedit autem?</div>
			   <button>See More</button>
				</div>
			</div>
			<!-- item 4 -->
			<div class="item" style="background-image: url('../../assets/images/nature4.webp');">
			
				<div class="content">
					<div class="name">lorem</div>
					<div class="des">Lorem ipsum dolor sit amet consectetur adipisicing elit. In ab molestias quae natus impedit autem?</div>
			   <button>See More</button>
				</div>
			</div>
			<!-- item5 -->
			<div class="item" style="background-image: url('../../assets/images/nature3.jpg');">
			
				<div class="content">
					<div class="name">lorem</div>
					<div class="des">Lorem ipsum dolor sit amet consectetur adipisicing elit. In ab molestias quae natus impedit autem?</div>
			   <button>See More</button>
				</div>
			</div>
		</div>
		<div class="buttons">
	 <button id="prev" ><svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="20" height="20"><path d="M19,11H9l3.29-3.29a1,1,0,0,0,0-1.42,1,1,0,0,0-1.41,0l-4.29,4.3A2,2,0,0,0,6,12H6a2,2,0,0,0,.59,1.4l4.29,4.3a1,1,0,1,0,1.41-1.42L9,13H19a1,1,0,0,0,0-2Z"/></svg>
	 </button>
	 <button id="next"><svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="20" height="20"><path d="M18,12h0a2,2,0,0,0-.59-1.4l-4.29-4.3a1,1,0,0,0-1.41,0,1,1,0,0,0,0,1.42L15,11H5a1,1,0,0,0,0,2H15l-3.29,3.29a1,1,0,0,0,1.41,1.42l4.29-4.3A2,2,0,0,0,18,12Z"/></svg>
	 </button>
	</div>
	</div>

 </div>