<app-menu-bar></app-menu-bar>


<app-slider-component></app-slider-component>


<div class="container">
    <div class="row about-row">
        <h3 class="about-heading2">About US</h3>
<div class="col-md-5 col-sm-12 img-col">
    
        <img src="https://www.mauritshuis.nl/media/xctjwfa1/947_repro.jpg?anchor=center&mode=crop&width=2000&height=0&rnd=132902789694870000&quality=70" width="400px" height="400px" alt="" class="img-fluid">
    </div>  
        <div class=" col-md-7 col-sm-12 ">

            <h3 class="about-heading1">About US</h3>
 <span class="para">
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
     Nostrum dolor veniam totam et sed amet suscipit dolore quae quaerat reprehenderit?
     Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit commodi repellendus, 
     veniam cumque expedita doloremque aliquam impedit porro accusamus eius dolorem, 
     voluptas soluta corrupti adipisci nam natus consequuntur autem dignissimos!
 </span>
  </div>
</div>
    
</div>
