<h3>App Component</h3>
<!-- **Forms Template Deiven -->
<br> <br>
<!-- <app-template-driven-form></app-template-driven-form> -->
<!-- **Reactive form -->
<app-reactive-form></app-reactive-form>
<!-- <app-list ></app-list> -->
<!-- Title : <input type="text" name="" id="" [(ngModel)]="title">
<button (click)="addTitle()">Sumbit</button>
 Disable:<input type="checkbox" name="" id="" [(ngModel)]="disableHeading">
<br>
<br>
<h1>Heading Component</h1>
<p [innerText]="titles"></p>
<p [innerText]="titles" *ngIf="!disableHeading"></p> -->