<div class="container-banner">
    <section class="main"></section>
    <div class="gradient">
        <div class="main_banner">
         <div class="text-center">
          <div class="svg_img animate__animated animate__heartBeat animate__delay-2s">
            <img src="../../../assets/images/book-logo.png" alt="ygc-main-logo" width="250px" height="200px" class="img-fluid">
            
          </div>
          <div class="event">
            <app-events></app-events>
  
          </div>
          <div class="bottom_text slide-top3" > Book Store </div>
        <div class="bottom_text slide-top2">Collections for books Lovers</div>
      </div>
    </div>
      <!-- <div class="bottom_img slide-top">
        <img src="../../../assets/images/nature2.webp" alt="bottom_cultural_img"  >
      </div>     -->
    </div>
    </div>
  
