<section class="client_section layout_padding">
    <div class="container ">
      <div class="">
        <h2>
          What Says Customers
        </h2>
        
      </div>
      <div class="row">
        <div class="col-md-6 mx-auto"  data-aos="zoom-out-right"
        data-aos-easing="linear"
        data-aos-duration="1500">
          <div class="client_container ">
            <div class="detail-box">
              <p>
                Editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by
              </p>
              <span>
                <i class="fa fa-quote-left" aria-hidden="true"></i>
              </span>
            </div>
            <div class="client_id">
              <div class="img-box">
                <img src="../../../assets/c1.jpg" alt="">
              </div>
              <div class="client_name">
                <h5>
                  Jone Mark
                </h5>
                <h6>
                  Student
                </h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mx-auto"  data-aos="zoom-out-left"
        data-aos-easing="linear"
        data-aos-duration="1500">
          <div class="client_container ">
            <div class="detail-box">
              <p>
                Editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by
              </p>
              <span>
                <i class="fa fa-quote-left" aria-hidden="true"></i>
              </span>
            </div>
            <div class="client_id">
              <div class="img-box">
                <img src="../../../assets/c2.jpg" alt="">
              </div>
              <div class="client_name">
                <h5>
                  Anna Crowe
                </h5>
                <h6>
                  Student
                </h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mx-auto"  data-aos="zoom-out-bottom"
        data-aos-easing="linear"
        data-aos-duration="1500">
          <div class="client_container ">
            <div class="detail-box">
              <p>
                Editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by
              </p>
              <span>
                <i class="fa fa-quote-left" aria-hidden="true"></i>
              </span>
            </div>
            <div class="client_id">
              <div class="img-box">
                <img src="../../../assets/c3.jpg" alt="">
              </div>
              <div class="client_name">
                <h5>
                  Hilley James
                </h5>
                <h6>
                  Student
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
